<!DOCTYPE html>
<html lang="ru" data-mode="normal">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/add.css')}}">
    <title>Sea battle</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{url_for('static', filename='styles/icon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{url_for('static', filename='styles/icon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{url_for('static', filename='styles/icon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='styles/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='styles/icon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
</head>

<body style="background-color:#272A31">
    <main class="f_img">
        <figure>
        </figure>
        <div class="round_icon">
            <img src="{{url_for('static', filename='styles/images/icon1_round.jpg')}}">
        </div>
    </main>

    <h1 class="sea">
        Sea battle: классическая игра для 2х игроков
    </h1>
    <div class="row px-5">
        <div class="col">
            <select class="form-select" aria-label="Пример выбора по умолчанию" onchange="onOptionChange(this)">
                <option selected value="0">Размер поля</option>
                <option value="3">3х3</option>
                <option value="4">4х4</option>
                <option value="5">5х5</option>
                <option value="6">6х6</option>
                <option value="7">7х7</option>
                <option value="8">8х8</option>
                <option value="9">9х9</option>
                <option value="10">10х10</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Кол-во выстрелов" aria-label="Кол-во выстрелов">
        </div>
    </div>
    <div class="fone">
        <button class="button-start" onclick="modeChange()">Добавить корабль</button>
        <table class="field">
        </table>
    </div>
    <div class="info-container">
        <div class="select-prize">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" disabled>
                Добавить приз
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Приз "1000" рублей</a></li>
                <li><a class="dropdown-item">Приз "2000 рублей"</a></li>
                <li><a class="dropdown-item">Приз "3000 рублей"</a></li>
            </ul>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/create_field.js')}}"></script>
</body>

</html>