:root {
    --btn-start-bg-color: #e9c10e;
    --btn-start-fg-color: #202020;
    --text-main-color: #EBF1FF;
    --text-error-color: #dd3939;
    --text-success-color: #39c939;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 100%;
}

.image {
    max-width: 100%;
}

figure {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.f_img {
    background-image: url('svg/header.svg');
    width: 100%;
    background-size: cover;
    text-align: center;
}

.round_icon {
    width: 100px;
    height: 350px;
    position: relative;
    margin: auto;
    margin-top: -15%;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    justify-content: center
}

.sea {
    color: var(--text-main-color);
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 5%;
}

.small_icons {
    text-align: center;
    margin: auto;
    margin-top: 0px;
    height: 500px;
    display: flex;
    justify-content: center
}

.fone {
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #080808d3;
    width: 100%;
    height: 700px;
}

.text {
    color: var(--text-main-color);
    width: 100%;
    position: absolute;
}

.text1 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 10%;
}

.info-container {
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center
}

.select-prize {
    border-radius: 10px;
    padding: 7px 13px;
    font-size: 15pt;
    margin-bottom: 30px;
    z-index: 999;
    transition: 0.5s;
    top: 5%;
}

.button-start {
    border-radius: 10px;
    background-color: var(--btn-start-bg-color);
    color: var(--btn-start-fg-color);
    padding: 7px 13px;
    font-size: 15pt;
    border: 1px solid var(--btn-start-bg-color);
    margin-top: 15%;
    z-index: 999;
    position: absolute;
    transition: 0.5s;
}

.button-start:hover {
    background-color: #201c24;
    color: var(--btn-start-bg-color);
    transition: 0.5s;
}

/* questions&answers*/

.qa {
    margin-top: 20%;
    width: 100%;
    position: absolute;
}

.qt {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 25%;
    margin-left: 5%;
    text-align: center;
    position: absolute;
}

.qt1 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 30%;
    margin-left: 5%;
    text-align: center;
    position: absolute;
}

.qt2 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 40%;
    margin-left: 5%;
    text-align: left;
    position: absolute;
    font-weight: 900;
}

.qt3 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 50%;
    margin-left: 5%;
    text-align: left;
    position: absolute;
    font-weight: 900;

}

.qt4 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 60%;
    margin-left: 5%;
    text-align: left;
    position: absolute;
    font-weight: 900;
}

.at {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 45%;
    margin-left: 5%;
    text-align: left;
    position: absolute;
}

.at1 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 55%;
    margin-left: 5%;
    text-align: left;
    position: absolute;
}

.at2 {
    color: var(--text-main-color);
    width: 90%;
    margin-top: 65%;
    margin-left: 5%;
    text-align: left;
    position: absolute;
}

.field {
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.cell {
    cursor: pointer;
    display: inline;
}

.field__row {
    height: 42px;
    padding: 2px;
}
